<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/header.ejs') %>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Book</title>
  </head>
  <body>
    <div class="bookEdit">
      <img src="//covers.openlibrary.org/b/id/<%= coverId %>-L.jpg" />
      <h1><%= titleId %></h1>
      <h3><%= authorId %></h3>

      <form action="/review" method="post">
        <input type="hidden" name="cover" value="<%= coverId %>" />
        <input type="hidden" name="author" value="<%= authorId %>" />
        <input type="hidden" name="title" value="<%= titleId %>" />

        <div class="form-group">
          <h3>Write Review</h3>
          <textarea name="review" id="review" rows="5" cols="35"> </textarea>
          <button type="submit">Add</button>
        </div>
      </form>
    </div>
  </body>
</html>
